{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(securityForm) }}
        {{ form_row(securityForm.username) }}
        {{ form_row(securityForm.email) }}
        {{ form_row(securityForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(securityForm.agreeTerms) }}

        <button type="submit" class="btn">Valider</button>
    {{ form_end(securityForm) }}
{% endblock %}
