{% extends 'base.html.twig' %}
{% block body %}
	<div class="media">
		<div class="media-body">
			<h1> {{season.program.title}}</h1>
			<p>Saison :{{ season.number }}</p
			<p>Episodes : {{episode.title}}, {{episode.number}}</p>
			<p>Synopsis : {{episode.synopsis}}</p>
		</div>
			<a href="{{ path("program_season_show", { slug: program.slug, seasonId: season.id}) }}">Retour sur la saison {{season.number}}</a>
	</div>
{% endblock %}