{% extends 'base.html.twig' %}
{% block body %}
	<div class="media">
		<div class="media-body">
			<h1> {{season.program.title}}</h1>
			<p>Saison :{{ season.number }}</p
			<p>Episodes : {{episode.title}}, {{episode.number}}</p>
			<p>Synopsis : {{episode.synopsis}}</p>
		</div>

		<div class="comment-episode">
			<h3>Les commentaires<h3>
			<div class="container-comment">
				{% for comment in comments %}
					<p>Note: {{comment.rate}} / 5 <br>
						Auteur: {{comment.author.email}}<br>
						Commentaire: {{comment.comment}}
					</p>
					{% if app.user == comment.author or is_granted("ROLE_ADMIN") %}
						{% include "comment/_delete_form.html.twig" with { comment: comment } %}
					{% endif %} 
				{% endfor %}
			</div>

			{% if app.user %}
				<h3>Ecrire un commentaire</h3>
				{% include "comment/_form.html.twig" %}
			{% endif %}
		</div>
			<a href="{{ path("program_season_show", { slug: program.slug, seasonId: season.id}) }}">Retour à la liste</a>
	</div>
{% endblock %}