{% extends 'base.html.twig' %}
{% block body %}}

    <h1>Toutes les séries du programme</h1>

    <div class="Program-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}<br>
        <button>Valider</button>
        {{ form_end(form) }}
    </div>

    <div class="movies">
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            {# Lien vers la fiche de la série : #}
            <a class="link-style" href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
        </div>
    </div>
    {% endfor %}
        <a class="link-style" href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
{% endblock %}



