{% extends 'base.html.twig' %}
{% block body %}
	<div class="media">
		<img class= "width-poster" src="{{season.program.poster}}" alt="image of the program">
		<div class="">
			<h3 class="">{{season.program.title}}</h3>
			<p>Saison
				{{season.number}}
				/ Année :
				{{season.number}}</p>
			{% for episode in season.episodes %}
				<a href="{{ path("program_episode_show", {slug: program.slug, seasonId: season.id, episodeId : episode.id})}}">
					<p class="" style="height: 1rem; font-size: 1rem;">Épisode
						{{episode.number}}
						:
						{{episode.title}}
					</p>
				</a>
					<p>{{episode.synopsis}}</p>
			{% endfor %}
			<a href="{{ path("program_show", { slug: season.program.slug }) }}" class="btn">Liste des séries</a>
		</div>
	</div>
{% endblock %}