{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="programs-list">
		<div class="media">
			<img src=" {{program.poster}} " alt="image de la série {{ program.title }} poster" width=" 180px">
			<div class="media-body">
				<h1>{{ program.title }}</h1>
				<p>{{ program.summary }}</p>
				<p>Catégorie :
					{{ program.category.name }}</p>


				{% for season in seasons %}
					<a href="{{ path("program_season_show", { program: program.id, season : season.id }) }}">
						<p>Saison
							{{season.number}}
							/ Année :
							{{season.year}}</p>
					</a>
				{% endfor %}
				<strong>Acteurs :</strong>
				<ul>
					{% for actor in program.actor %}
						<li>
							<a href="{{ path("actor_show", { id: actor.id }) }}">{{ actor.name }}</a>
						</li>
					{% else %}
						<li>Aucun acteur pour cette série</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
   <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
   </a>
{% endblock %}