{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="programs-list">
		<div class="media">
			<h1>{{ program.title }}</h1>
			<img src="{{program.poster}}" alt="image de la série {{ program.title }} poster" width=" 250px">
			<div class="media-body">
				<p>{{ program.summary }}</p>
				<p>Catégorie :
					{{ program.category.name }}</p>


				{% for season in program.seasons %}
					<a href="{{ path("program_season_show", {slug: program.slug, seasonId: season.id}) }}">
						<p>Saison
							{{season.number}}
							/ Année :
							{{season.year}}
						</p>
					</a>
						<p>Description :
							{{season.description}}
						</p>
					{% if is_granted("ROLE_ADMIN") %}
                    	<a href="{{ path('season_edit', { "id": season.id }) }}">Éditer</a>
                	{% endif %}
				{% endfor %}
				<strong>Acteurs :</strong>
				<ul>
					{% for actor in program.actors %}
						<li>
							<a href="{{ path("actor_show", { id: actor.id }) }}">{{ actor.name }}</a>
						</li>
					{% else %}
						<li>Aucun acteur pour cette série</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('season_new') }}">Ajouter une saison</a>
    {% endif %}
	</div>
   <a class="link-style" href="{{ path('program_index') }}">
        Retour à la liste des programmes
   </a>
{% endblock %}